.navbar-brand{
    font-weight: 700;
    font-size: 28px;
}

.btn-outline {
    color:blueviolet;
    border: solid blueviolet 2px;
}

.btn-outline:hover{
    color: white;
    background-color: blueviolet;
}

.form-control{
    color:blueviolet;
    border: solid blueviolet 2px;
    background-color: transparent;
}