.Container-NumberG{
    margin-left: 13%;
    margin-right: 13%;
    margin-top: 1%;
    margin-bottom: 10%;
    border: solid blueviolet 2PX;
    border-radius: 20px;
    padding-left: 4%;
    padding-right: 4%;
    padding-top: 2%;
    padding-bottom: 2%;
    background: white;
}

h2{
    font-size: 40px;
    text-align: center;
}

p{
    text-align: center;
    font-size: 18px;
}

.buttonNumberG{
    text-decoration: none;
    text-align: center;
}

.btnNumG{
    text-decoration: none;
    text-align: center;
    border: solid 2px blueviolet;
    background: white;
    color: black;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 4px;
    padding-bottom: 4px;
    border-radius: 10px;
}

.btnNumG:hover{
    background: blueviolet;
    color: white;
    box-shadow: 2px;
}

.mb-3{
    position: relative;
    width: 30%;
    left: 35%;
    text-align: center;
    padding: 1%;
}

.guessimage{
    height: 10%;
    width: 18%;
    position:relative;
}

.container-img{
    justify-self: right;
    display: flex;
    object-fit: none;
    object-position: bottom;
    object-position: right;
}